<div class="navbar bg-base-100 shadow-sm">
    <div class="flex-1">
        <a routerLink="/" class="btn btn-ghost text-xl text-primary" style="text-transform: uppercase;">Mockipedia</a>
    </div>
    <div class="flex-none">
        <ul class="menu menu-horizontal px-1">
            <li>
                <a routerLink="/"><i class="bi bi-house"></i>Home</a>
            </li>
            <li>
                <a routerLink="/editor"><i class="bi bi-pen"></i>Write Article</a>
            </li>
            <li>
                <a routerLink="/pending"><i class="bi bi-hourglass"></i>Articles Pending Review</a>
            </li>
        </ul>
    </div>
</div>