<div class="w-full">
    <div class="grid grid-cols-4">
        <!-- hero section -->
        <div class="hero bg-base-200 col-span-4 py-32">
            <div class="hero-content text-center">
                <div class="max-w-md">
                    <h1 class="text-5xl font-bold text-primary" style="text-transform: uppercase;">Mockipedia</h1>
                    <p class="py-6">
                        <b>Mockipedia</b> is your one stop for any information you ever need! Carefully crafted by our
                        dedicated volunteers, all of our articles will provide you with the most detailed and up-to-date
                        information about whatever niche topic you are interested in!
                    </p>
                    <p class="my-2"><b>Have something to share?</b></p>
                    <button class="btn btn-secondary"><i class="bi bi-pen"></i> Write Your Own Article</button>
                </div>
            </div>
        </div>

        <!-- most popular articles -->
        <div class="col-span-4 my-16 mx-8">
            <h2 class="text-3xl font-bold text-accent text-center">Most Viewed Articles</h2>
            <div class="flex justify-center my-8">
                <div class="card w-96 bg-base-100 shadow-sm mx-4">
                    <div class="card-body">
                        <span class="badge badge-xs badge-warning">Most Viewed Article</span>
                        <h2 class="text-3xl font-bold">Harry Potter and the Philosopher's Stone</h2>
                        <p class="text-neutral-500/80">Last Edited: 12 Mar 2026</p>

                        <div class="stat">
                            <div class="stat-title">
                                Article Views
                            </div>
                            <div class="stat-value text-accent">
                                200
                            </div>
                            <div class="stat-figure text-accent text-6xl">
                                <i class="bi bi-eye"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card w-96 bg-base-100 shadow-sm mx-4">
                    <div class="card-body">
                        <h2 class="text-3xl font-bold">Harry Potter and the Philosopher's Stone</h2>
                        <p class="text-neutral-500/80">Last Edited: 12 Mar 2026</p>

                        <div class="stat">
                            <div class="stat-title">
                                Article Views
                            </div>
                            <div class="stat-value text-accent">
                                200
                            </div>
                            <div class="stat-figure text-accent text-6xl">
                                <i class="bi bi-eye"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card w-96 bg-base-100 shadow-sm mx-4">
                    <div class="card-body">
                        <h2 class="text-3xl font-bold">Harry Potter and the Philosopher's Stone</h2>
                        <p class="text-neutral-500/80">Last Edited: 12 Mar 2026</p>

                        <div class="stat">
                            <div class="stat-title">
                                Article Views
                            </div>
                            <div class="stat-value text-accent">
                                200
                            </div>
                            <div class="stat-figure text-accent text-6xl">
                                <i class="bi bi-eye"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- view all articles -->
        <div class="col-span-4 my-16 mx-8">
            <h2 class="text-3xl font-bold text-accent text-center">All Articles</h2>
            <div class="flex justify-center">
                <div class="rounded-box bg-base-100 shadow-sm p-4">
                    <table class="table w-200 bg-base-100">
                        <!-- head -->
                        <thead>
                            <tr>
                                <th></th>
                                <th>Title</th>
                                <th>Last Edited</th>
                                <th>Views</th>
                            </tr>
                        </thead>
                        <!-- body -->
                        <tbody>
                            <tr>
                                <th>1</th>
                                <td>Shadow Hunters: City of Glass</td>
                                <td>09 Nov 2014</td>
                                <td>28</td>
                            </tr>
                            <tr>
                                <th>2</th>
                                <td>Shadow Hunters: City of Glass</td>
                                <td>09 Nov 2014</td>
                                <td>28</td>
                            </tr>
                            <tr>
                                <th>3</th>
                                <td>Shadow Hunters: City of Glass</td>
                                <td>09 Nov 2014</td>
                                <td>28</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>