<div class="w-full">
    <div class="grid grid-cols-4">
        <!-- hero section -->
        <div class="hero bg-base-200 col-span-4 py-32">
            <div class="hero-content text-center">
                <div class="max-w-md">
                    <h1 class="text-5xl font-bold text-primary" style="text-transform: uppercase;">Mockipedia</h1>
                    <p class="py-6">
                        <b>Mockipedia</b> is your one stop for any information you ever need! Carefully crafted by our
                        dedicated volunteers, all of our articles will provide you with the most detailed and up-to-date
                        information about whatever niche topic you are interested in!
                    </p>
                    <p class="my-2"><b>Have something to share?</b></p>
                    <button routerLink="/editor" class="btn btn-secondary"><i class="bi bi-pen"></i> Write Your Own
                        Article</button>
                </div>
            </div>
        </div>

        <!-- most popular articles -->
        <div class="col-span-4 my-16 mx-8">
            <h2 class="text-3xl font-bold text-accent text-center">Most Viewed Articles</h2>
            <div class="flex justify-center my-8">
                <div class="card w-96 bg-base-100 shadow-sm mx-4" *ngFor="let article of mostViewedArticles">
                    <div class="card-body hover:cursor-pointer" (click)="navigateToArticle(article.article_id)">
                        <span class="badge badge-xs badge-warning">Most Viewed Article</span>
                        <h2 class="text-3xl font-bold">{{article.article_name}}</h2>
                        <p class="text-neutral-500/80">Last Edited: 12 Mar 2026</p>

                        <div class="stat">
                            <div class="stat-title">
                                Article Views
                            </div>
                            <div class="stat-value text-accent">
                                {{article.views}}
                            </div>
                            <div class="stat-figure text-accent text-6xl">
                                <i class="bi bi-eye"></i>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- view all articles -->
        
    </div>
</div>