<div class="mx-32 my-8 grid grid-cols-6 gap-8">
    <!-- article content -->
    <div class="col-span-5">
        <h1 class="text-primary text-5xl">{{article?.content?.title}}</h1>
        <hr class="text-primary mt-2 mb-8">
        <p>{{article?.content?.content}}</p>
    </div>

    <!-- side content -->
    <div>
        <!-- article stats and controls -->
        <div class="flex flex-col">
            <button class="btn btn-secondary">Edit Article <i class="bi bi-pen"></i></button>
            <div class="stats stats-vertical shadow my-8">
                <div class="stat">
                    <div class="stat-title">Views</div>
                    <div class="stat-value">{{article?.details?.views}}</div>
                </div>

                <div class="stat">
                    <div class="stat-title">Last Edited</div>
                    <div class="stat-value">{{article?.details?.last_edited | date:'dd MMM yyyy'}}</div>
                </div>

                <div class="stat">
                    <div class="stat-title">Creation</div>
                    <div class="stat-value">{{article?.details?.creation | date:'dd MMM yyyy' }}</div>
                </div>
            </div>
            
        </div>
    </div>
</div>